<div class="mdl-card__supporting-text collection-details">
	<h2 class="mdl-card__title-text">{{ lang.detailsView.collectionDetails }}</h2>
	{% if !inCollection or editable %}
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.location }}:</label>
		<select id="collection-location" name="collection_location" class="mdl-textfield__input">
			<option {% if !movie.collection_location %} selected {% endif %}></option>
			{% for location in lang.locations %}
				<option value="{{location}}" {% if movie.collection_location == location %} selected {% endif %}>{{location}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-quality">{{ lang.detailsView.labels.quality }}:</label>
		<select id="collection-quality" name="collection_quality" class="mdl-textfield__input">
			<option {% if !movie.collection_quality %} selected {% endif %}></option>
			{% for quality in lang.qualities %}
				<option value="{{quality}}" {% if movie.collection_quality == quality %} selected {% endif %}>{{quality}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-media">{{ lang.detailsView.labels.mediaType }}:</label>
		<select id="collection-media" name="collection_media" class="mdl-textfield__input">
			<option {% if !movie.collection_media %} selected {% endif %}></option>			
			{% for media in lang.mediaTypes %}
				<option value="{{media}}" {% if movie.collection_media == media %} selected {% endif %}>{{media}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-rating">{{ lang.detailsView.labels.rating }}:</label>
		<select id="collection-rating" name="collection_rating" class="mdl-textfield__input">
			<option {% if !movie.collection_rating %} selected {% endif %}></option>
			{% for rating in lang.ratings %}
				<option value="{{rating}}" {% if movie.collection_rating == rating %} selected {% endif %}>{{rating}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="mdl-check mdl-checkbox">
		<label for="collection-watched">{{ lang.detailsView.labels.watched }}:</label>
		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="collection_watched">
		  <input type="checkbox" id="collection_watched" name="collection_watched" class="mdl-checkbox__input"
		  {% if movie.collection_watched %} checked {% endif %} />
		</label>
	</div>

	{% else %}
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.location }}:</label> {{ movie.collection_location or lang.global.unknown }}
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.quality }}:</label> {{ movie.collection_quality or lang.global.unknown }}
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.mediaType }}:</label> {{ movie.collection_media or lang.global.unknown }}
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.rating }}:</label> {{ movie.collection_rating or lang.global.unknown }}
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<label for="collection-location">{{ lang.detailsView.labels.watched }}:</label> {% if movie.collection_watched %} Yes {% else %} No {% endif %}
	</div>
	{% endif %}
</div>