<div class="mdl-card mdl-shadow--2dp mdl-grid movie-search-card">
{{ error }}
	<div class="img mdl-cell mdl-cell--4-col">
	{% if movie.poster_path %}
		<img src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}" width="342" height="513" />
	{% endif %}	

	{% if !movie.poster_path %}
		<img src="/images/placeholder-full.png" width="342" height="513" />
	{% endif %}
	</div>

	<form id="single-movie" name="single-movie" method="post" class="content mdl-cell mdl-cell--8-col">
		<div class="mdl-card__title">
		  <h2 class="mdl-card__title-text">
			  {{ movie.title }} 
			  <small class="small-heading">{{ movie.tagline }} ({{ movie.release_date | date('Y') }})</small>
		  </h2>
		</div>

		<div class="mdl-card__supporting-text movie-details">
		  	<p>
		  	<small>
		  		Genres: 
		  		{% for genre in movie.genres %}
		  			{{genre.name}}
		  		{% endfor %}
		  		| Runtime: {{ movie.runtime }} min
		  		| Rating: {{ movie.vote_average }} from {{ movie.vote_count }} votes
		  	</small>

		  	{{ movie.overview }}

		  	</p>

		  	<p>
		  	<a href="{{ movie.homepage }}" target="_blank">Movie Website</a>
		  	<br>
		  	<a href="https://www.themoviedb.org/movie/{{ movie.id }}" target="_blank">TMDB</a>
		  	<br>
		  	<a href="http://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">IMDB</a>
		  	</p>
		</div>

		{% include 'collection-details.html' %}

		<div class="cta">
		{% if !inCollection %}
			<button id="add-to-collection" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
			  <i class="material-icons">add</i>
			</button>
			<div class="mdl-tooltip" for="add-to-collection">
				Add to collection
			</div>
		{% elseif editable %}
			<a id="delete-from-collection" href="/delete/{{ movie.id }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
			  <i class="material-icons">delete</i>
			</a>
			<div class="mdl-tooltip" for="delete-from-collection">
				Delete this title
			</div>
			<button id="add-to-collection" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
			  <i class="material-icons">save</i>
			</button>
			<div class="mdl-tooltip" for="add-to-collection">
				Update this title
			</div>

			<a id="edit-cancel" href="/movie-details/{{ movie.id }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button">
			  <i class="material-icons">cancel</i>
			</a>
			<div class="mdl-tooltip" for="edit-cancel">
				Cancel
			</div>
		{% else %}
			<a id="edit-in-collection" href="/movie-details/{{ movie.id }}/edit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
			  <i class="material-icons">edit</i>
			</a>
			<div class="mdl-tooltip" for="edit-in-collection">
				Edit this title
			</div>
		{% endif %}
		</div>
	</form>
</div>