<div class="mdl-card mdl-shadow--2dp mdl-grid movie-search-card">

	<div class="img mdl-cell mdl-cell--4-col">
	{% if movie.local_img %}
		<img src="/images/w342{{movie.poster_path}}" width="342" height="513" />
	{% elseif movie.poster_path %}
		<img src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}" width="342" height="513" />
	{% else %}
		<img src="/images/placeholder-full.png" width="342" height="513" />
	{% endif %}
	</div>

	<form id="single-movie" name="single-movie" method="post" class="content mdl-cell mdl-cell--8-col">
		<div class="mdl-card__title">
		  <h2 class="mdl-card__title-text">
			  {{ movie.title }}
			  <small class="small-heading">{{ movie.tagline }} ({{ movie.release_date | date('Y') }})</small>
		  </h2>
		</div>

		<div class="mdl-card__supporting-text movie-details">
		  	<p>
		  	<small>
		  		{{ lang.detailsView.labels.genres }}:
		  		{% for genre in movie.genres %}
		  			{% if !loop.first %} , {% endif %}
		  			{{ genre.name }}
		  		{% endfor %}
		  		| {{ lang.detailsView.labels.runtime }}: {{ movie.runtime }} min
		  		| {{ lang.detailsView.labels.location }}: {{ movie.vote_average }} {{ lang.detailsView.labels.from }} {{ movie.vote_count }} {{ lang.detailsView.labels.votes }}
		  	</small>

		  	{{ movie.overview }}

		  	</p>

		  	<p>
		  	<a href="{{ movie.homepage }}" target="_blank">{{ lang.detailsView.links.movieSite }}</a>
		  	<br>
		  	<a href="https://www.themoviedb.org/movie/{{ movie.id }}" target="_blank">{{ lang.detailsView.links.tmdbSite }}</a>
		  	<br>
		  	<a href="http://www.imdb.com/title/{{ movie.imdb_id }}" target="_blank">{{ lang.detailsView.links.imdbSite }}</a>
		  	</p>
		</div>

		{% include 'collection-details.html' %}

		{% if user %}
		<div class="cta">
			<div id="menu" class="flyout-menu">
			{% if !inCollection %}
				{% include 'buttons/wanted-button.html' %}
				{% include 'buttons/add-button.html' %}
			{% elseif editable %}
				{% include 'buttons/save-button.html' %}
				{% include 'buttons/delete-button.html' %}
				{% include 'buttons/cancel-button.html' %}
			{% elseif movie.collection_wanted %}
				{% include 'buttons/move-button.html' %}
				{% include 'buttons/delete-button.html' %}
				{% include 'buttons/cancel-button.html' %}
			{% else %}
			{% include 'buttons/delete-button.html' %}
				{% include 'buttons/edit-button.html' %}
			{% endif %}
			</div>
			{% include 'buttons/menu-button.html' %}
		</div>
		{% endif %}
	</form>
</div>
<div class="error-message">
{% for err in error %}
	{{ err.message }}
{% endfor %}
</div>