{% if movies.length == 0%}
No results
{% endif %}

<div class="mdl-card mdl-shadow--2dp mdl-grid movie-home-card">
	<div class="mdl-card__title">
	  <h2 class="mdl-card__title-text">{{ lang.homeView.mainHeading }}</h2>
	</div>

	<div class="mdl-card__supporting-text">
	  {{ lang.homeView.introText }}
	</div>

	<form id="movie-search" name="movie-search" method="post" class="mdl-grid">
		<div class="mdl-cell mdl-cell--1-col mdl-textfield">
			<i class="material-icons">search</i>
		</div>
		<div class="mdl-cell mdl-cell--11-col">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="search" name="search" />
				<label class="mdl-textfield__label" for="search">{{ lang.homeView.search }}</label>
			</div>
		</div>
	</form>
</div>

<div class="mdl-card movie-home-card heading">
	<div class="mdl-card__title">
	  <h2 class="mdl-card__title-text">{{ lang.homeView.secondHeading }}</h2>
	</div>
</div>

<div class="mdl-grid latest-entries">
	{% for movie in movies %}
	<div class="mdl-cell mdl-cell--1-col">
			<a href="/movie-details/{{ movie.id }}">
				{% if movie.local_thumb %}
					<img id="movie-{{ movie.id }}" src="/images/w92{{movie.poster_path}}" width="92" height="138" />
				{% elseif movie.poster_path %}
					<img id="movie-{{ movie.id }}" src="http://image.tmdb.org/t/p/w92{{movie.poster_path}}" width="92" height="138" />
				{% else %}	
					<img src="/images/placeholder-thumb.png" width="92" height="138" />
				{% endif %}
			</a>
			<div class="mdl-tooltip" for="movie-{{ movie.id }}">
				{{ movie.title }}
			</div>
	</div>
	{% endfor %}
</div>