{% extends 'layout.html' %}

{% block content %}

	{% if homeView %}
	    {% include 'home.html' %}
	{% endif %}

	{% if searchView %}
	    {% include 'list-view.html' %}
	{% endif %}

	{% if detailsView %}
	    {% include 'detail-view.html' %}
	{% endif %}

	{% if adminView %}
	    {% include 'admin-view.html' %}
	{% endif %}

	{% if loginView %}
	    {% include 'login.html' %}
	{% endif %}

	{% if registerView %}
	    {% include 'register.html' %}
	{% endif %}

{% endblock %}