<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{{ lang.global.siteName }}</title>
	
	{% block head %}

	<!-- Custom CSS -->
	<link href="/stylesheets/material.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	{% endblock %}
</head>

<body>
	<div id="container">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title"><a href="/">{{ lang.global.siteName }}</a></span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	      <!-- Navigation. We hide it in small screens. -->
	      {% if searchable %}
	      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
	                  mdl-textfield--floating-label mdl-textfield--align-right">
	        <label class="mdl-button mdl-js-button mdl-button--icon"
	               for="waterfall-exp">
	          <i class="material-icons">search</i>
	        </label>
	        <div class="mdl-textfield__expandable-holder">
	        <form id="movie-search" name="movie-search" method="post">
	          <input class="mdl-textfield__input" type="text" name="search" id="waterfall-exp" placeholder="{{ lang.global.searchCollection }}" />
	        </form>
	        </div>
	      </div>
	      {% endif %}
	      <nav class="mdl-navigation mdl-layout--large-screen-only">
		      {% include 'navigation.html' %}
	      </nav>
	      <!-- Notification toast -->
	      <div id="notification" class="md-toast {% if success.length > 0 or error.length > 0 %}toast-active{% endif %}">
	      	{% for noti in success %}
	        	<span>{{ noti }}</span>
	        {% endfor %}

	        {% for noti in error %}
	          	<span>{{ noti }}</span>
	        {% endfor %}
	        <button class="mdl-button mdl-js-button" onclick="closeNotification()">
	        	<span>Close</span>
	        </button>
	      </div>
	    </div>
	  </header>

	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">{{ lang.global.siteName }}</span>
	    <nav class="mdl-navigation">
		    {% include 'navigation.html' %}
		</nav>
	  </div>
	  <main class="mdl-layout__content">
	    <div class="page-content">
	    	{% block content %}{% endblock %}
	    </div>
	  </main>
	</div>
	</div>
	{% include 'dialogs/confirm-dialog.html' %}
</body>

{% block scripts %}
<script type="text/javascript" src="/javascripts/plugins/material.min.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
{% endblock %}

</html>