{% if movies.length == 0%}
No results
{% endif %}

{% if searchResults %}
<div class="mdl-card movie-search-card heading">
	<div class="mdl-card__title">
	  <h2 class="mdl-card__title-text">{{ lang.global.searchResults }}</h2>
	</div>
</div>
{% endif %}

{% for movie in movies %}
<div class="mdl-card mdl-shadow--2dp mdl-grid movie-search-card">

	<div class="img mdl-cell mdl-cell--1-col">
		<a href="/movie-details/{{ movie.id }}">
			{% if movie.local_thumb %}
				<img src="/images/w92{{movie.poster_path}}" width="92" height="138" />
			{% elseif movie.poster_path %}
				<img src="http://image.tmdb.org/t/p/w92{{movie.poster_path}}" width="92" height="138" />
			{% else %}	
				<img src="/images/placeholder-thumb.png" width="92" height="138" />
			{% endif %}
		</a>
	</div>

	<div class="content mdl-cell mdl-cell--11-col">
		<div class="mdl-card__title">
			<a href="/movie-details/{{ movie.id }}" class="heading-link">
		  		<h2 class="mdl-card__title-text">{{ movie.title }}</h2>
		  	</a>
		</div>

		<div class="mdl-card__supporting-text">
		  {{ movie.overview }}

			<div>
				<span class="list">
				<a href="/collection/tags/watched/{{ movie.collection_watched }}">
				  	{% if movie.collection_watched %}
				  		<small class="tag tag-red">Watched</small>
				  	{% else %}
					  	<small class="tag">Unwatched</small>
					{% endif %}
				</a>
			  	</span>
			  	<span class="list">
			  		<a href="/collection/tags/location/{{ movie.collection_location }}">
			  	  	{% if movie.collection_location %}
			  	  		<small class="tag tag-green">{{ movie.collection_location }}</small>
			  	  	{% else %}
			  		  	<small class="tag">Unknown Location</small>
			  		{% endif %}
			  		</a>
			  	</span>			  	
			  	<span class="list">
			  		<a href="/collection/tags/quality/{{ movie.collection_quality }}">
			  	  	{% if movie.collection_quality %}
			  	  		<small class="tag tag-yellow">{{ movie.collection_quality }}</small>
			  	  	{% else %}
			  		  	<small class="tag">Unknown Quality</small>
			  		{% endif %}
			  		</a>
			  	</span>
			</div>

		  	<div class="list list-genres">
			  	{% for genre in movie.genres %}
			  		<a href="/collection/tags/genre/{{ genre.name }}">
			  			<small class="tag tag-blue">{{ genre.name }}</small>
			  		</a>
			  	{% endfor %}
		  	</div>
		</div>

	</div>

	<div class="cta">
	{% include 'buttons/info-button.html' %}
	</div>
</div>
{% endfor %}

